body {
	margin: 0px;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;

    font-size: 13px;
	
	padding: 0px;
	margin: 0px;
	text-align: center;
}
p, h1, h2 {
	padding: 0px;
	margin: 0px;
    letter-spacing: 1.5px;;
}
h1 {
	font-size: 20px;
	font-weight: 600;
	
}
h2 {
	font-size: 18px;
	font-weight: 300;
	
}
.container {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}
.examples, .example {
	padding-top: 20px;
}
.examples {
	width:100%;
	text-align: -webkit-center;
}
.example {
	width: 100%;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
a:link {
	color: #000;
	
}
a:visited {
    color: #54595f;
}
a:hover {
    color: #e100ff;
}

a:active {
    color: #54595f;
}
.footer {
	padding-top: 50px;
	clear: both;
	width: 100%;
}
.txtContainer {
    position: relative;
    text-align: -webkit-center;
    height: 90px;
    /* width: 227px; */
    /* clear: both; */
    /* background-color: red; */
    /* height: 53px; */
    /* padding: 23px 0; */
    margin-top: 20px;
}

/* Used for div placement */
.textFX {

	position: absolute;
    text-align: -webkit-center;
	text-align: center;
}
.ttFX {
	position: absolute;
	/* float: left; */
	/* white-space:nowrap; */
	color: black;
	display: block;

	padding: 10px 0;
	font-weight: bold;
	font-size: 38px;
	text-shadow: 2px 0px 2px #8f989e;
	color: #619cd3;
	-webkit-text-stroke: 1px #2a588e;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(145, 196, 232, .3)), to(rgba(75, 134, 199, 1)));
}

.clear {
	clear: both;
}